- if current_user.seller?
  %h1 Seller Dashboard
  Total earnings:
  = @seller_details[:total_revenue]
  %br 
  %br
  %h3 Orders
  %table
    %tr
    %th Name
    %th Price
    %th Quantity
    %th Date Ordered
  
    - @seller_details[:sold_items].each do |item|
      - product = item.product    
      %tr
      %td= link_to product.name, product_path(product.id)
      %td= product.price
      %td= item.quantity
      %td= item.created_at
  %br 
  %br 
  = link_to "Add a new product", new_product_path
  %h5 Product List
  - if @seller_details[:products].any?  
    %table
      %tr
        %th Name
        %th Description
        %th Stock
        %th Price
  
      - @seller_details[:products].each do |product|
        %tr
          %td= product.name
          %td= product.description
          %td= product.stock
          %td= product.price
          %td= link_to 'Show', product_path(product)
          %td= link_to 'Edit', edit_product_path(product)
  - else 
    %p No products to show. Please add products. 
-else
  %h1 You are not a seller
  %p Login to your account and change settings if you wish to sell items!!