%h1 Seller Dashboard
Total earnings:
= @sale
%br 
%br
%h3 Orders
%table
  %tr
  %th Name
  %th Price
  %th Quantity
  %th Date Ordered
  
  - Product.find_by_sql("select name, products.id , products.price , order_items.created_at, order_items.quantity from products join order_items on products.id=order_items.product_id where products.user_id=1").each do |product|
      
    %tr
    %td= link_to product.name, product_path(product.id)
    %td= product.price
    %td= product.quantity
    %td= product.created_at
%br 
%br 
= link_to "Add a new product", new_product_path
%h5 Product List
- if Product.any?  
  %table
    %tr
      %th Name
      %th Description
      %th Stock
      %th Price
  
    - Product.all.each do |product|
      - if product.user_id == current_user.id
        %tr
          %td= product.name
          %td= product.description
          %td= product.stock
          %td= product.price
          %td= link_to 'Show', product_path(product)
          %td= link_to 'Edit', edit_product_path(product)
- else 
  %p No products to show. Please add products. 