%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    .nav
      = link_to "AmazeKart",root_path, id:"logo"
      %ul.nav.navbar-nav.navbar-right
        %li 
          =link_to 'Home', pages_home_path 
        %li 
          =link_to 'Help', pages_help_path
        - if user_signed_in?
          - if current_user.seller?
            %li 
              = link_to 'Seller Page', pages_seller_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Profile", '#'
              %li= link_to "Settings", edit_user_registration_path, method: :get
              %li.divider
              %li
                = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Log in", user_session_path